body{
	/*display: flex;
  justify-content: center;
  align-items: center;*/
}

.navpr{
	
	background-color: #081d76;
	
	
}
.navses{
	height:35px;
	background-color:#2f2f2f; 
} 
.footers{
	background-color:#2f2f2f;
}
.sti{
	color: white;
	font-size:10px;
	font-weight: bold;
	top: 5px;
    right: 80px;
}
.product-avatar{
	max-width: 100%;
}
img.imglog{
	position: absolute;
    width: 140px;
    top:-20px;
    left: 97px;
    z-index: 2;
}
.personsize{
 position: absolute;
 color: white;
 right: 60px;
}
.navli{
	background-color: #c61807;
}

.cfta{
	padding-top: 28px;
	padding-bottom: 43px;
	font: oblique bold 40px cursive;
}
.cfta:hover{
	background-color: none;
	color: none;
	/*padding-top: 33px;
	transform: translate(0px, 10px);*/
}
.cfca{
	padding-top: 28px;
	padding-bottom: 43px;
	font: oblique bold 40px cursive;
}
.cfca:hover{
	border-bottom-style: solid;
	border-bottom-color: blue;

}
.cfia{
	left: 150px;
}
.cfcard{

	width: 300px;
	height: 300px;
	top: 50px;
	
}
.imgcard{
	width: 450px;
	height: 200px;
}
#cfft{
	top: ;
	background-color: #cc1f0e;
}
/*///////      Estilos de Modals         //////////*/
#modalogin{
	width: 50%;
}
/*//////////// Estilo de boton de compras /////////////////*/
.boton {
    width:50px;
    position:relative;
    line-height:50px;
    border-radius:25px;
}
.mono{
	position: relative;
	width:1px;
	top:0px;
	right: 20px;
}
.n {
    position:absolute;
    right:28px;
    
    background-color:yellow;
    line-height:20px;
    width:18px;
    height:20px;
    border-radius:10px;
}
.carousel{
    height: 500px;

}
.tamaño{
	   
       margin-left: 1em;
       width: 200px;
}
.auto{
	position:absolute;
	left: 930px;

}
.buscarr{
	background-color:white;
	width:;
	height: 20px; 
}
.titulos{
	position: absolute;;
	left: 300px;
	font-weight: bold;
}
.sli{
	position: absolute;
	z-index: 1;
}
.dos
{
	width:500px; 
	top: 230px; 
	right: 90px; 
	position: absolute; 
	display:inline-block;
}

/*--------------estilos--------*/
* { padding:0px; 
	margin:0px; }

#menu { 
	background-image:url(nav_bg.png); 
	background-repeat:repeat-x; 
	height:30px; 
	margin:auto; 
	padding-left:150px;
	border-bottom:2px solid black; 
	border-top:2px solid black; 

}
#nav { 
	list-style:none;
	color: black;
	top:240px; 
}
#nav li { 
	float:left; 
	background-image:url(nav_li_bg.png); 
	background-repeat:no-repeat; 
	background-position:right; 
}
#nav li a { 
	display:block; 
	padding:7px 10px; 
	text-decoration:none; 
	color:#CCCCCC; 
	font-weight:bold; 
}
#nav li a:hover { 
	color:#FFFFFF; 
}
/* Submenu */
#nav ul.submenu { 
	width:100%;
	border:1px solid #000000; 
	right: 1px;
	position:absolute;
	display:none;
	z-index: 1;
	background-color:#333333;
}
#nav ul.submenu li { 
	float:none; 
	background-image:none;
	border-bottom:1px solid #999999; 
	width:200px;}
/* Subsubmenu */
#nav ul.subsubmenu { 
	border:1px solid #000000; 
	padding:5px; 
	position:absolute; 
	list-style:none; 
	background-color:#333333; 
	margin-left:150px; 
	margin-top:-30px;
}
#nav ul.subsubmenu li { 
	float:none; background-image:none; 
	border-bottom:1px solid #999999; 
	min-width:200px;}
/*---------------------------------------------------------------------------------------*/

#gallery img {
border: none;
}
#gallery_nav {
padding-top:5px;
margin-left:150px;
float:none;
width: 450px;
text-align: center;
}
#gallery_output {
float: left;
width: 900px;
height: 600px;
overflow: hidden;
}
#gallery_output img {
display: block;
margin: 10px auto 0 auto;
}
/*///////////////////				imagen       /////////////////////////////*/
