body{
	/*display: flex;
  justify-content: center;
  align-items: center;*/
}

.navpr{
	
	background-color: #cb1e0e;
	color: red;
	
	/*padding-bottom: 20px;*/
}
.navpr2{
	
	background-color: white;
	color: black;
	/*padding-bottom: 120px;*/
}
.product-avatar{
	max-width: 100%;
	height: 200px;
}
.imglog{
	position: relative;
}
.navli{
	background-color: #c61807;
}
.cftli{
	position: static;
}
.cfta{
	background-color: black;
	
}
/*.cfta:hover{
	background-color: none;
	color: none;*/
	/*padding-top: 33px;
	transform: translate(0px, 10px);
/*}*/
.cfca{
	
	
}
/*.cfca:hover{
	border-bottom-style: solid;
	border-bottom-color: blue;

}
.cfia{
	padding-top: 28px;
	padding-bottom: 43px;
	font: oblique bold 40px cursive;
}*/
.cfcard{

	width: 300px;
	height: 300px;
	top: 50px;
	
}
.imgcard{
	width: 450px;
	height: 200px;
}
#cfft{
	top: ;
	background-color: #081d76;
}
/*///////      Estilos de Modals         //////////*/
#modalogin{
	width: 50%;
}
/*//////////// Estilo de boton de compras /////////////////*/
.boton {
    width:50px;
    position:relative;
    line-height:50px;
    border-radius:25px;
}
.ulnav{
	/*background-color: black;*/
	color: black;
}
.centrado{
	padding-left: 40%;
}
.n {
    position:absolute;
    right:0px;
    top:20px;
    background-color:yellow;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
}
.catalogo{
	padding-left: 30px;
	padding-top:  40px;
}